{%  extends 'layout.twig' %}

{% block content %}

<h1>Me contacter</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis arcu elementum, condimentum justo at, bibendum risus. Etiam non ante pretium, blandit justo elementum, elementum ligula. Vestibulum elementum efficitur ex, et pretium neque hendrerit convallis. Morbi et mi rutrum, vehicula nisl eu, semper urna. Sed ut ultrices massa. Maecenas ultricies vulputate tortor vitae posuere. Nulla nulla quam, ornare eu rutrum at, tincidunt quis augue. Ut nec efficitur erat, ut euismod neque.</p>

{% if flash.success %}
	<div class="alert alert-success">
		{{ flash.success }}
	</div>
{% endif %}

{% if flash.error %}
	<div class="alert alert-danger">
		{{ flash.error }}
	</div>
{% endif %}

<form action="{{ path_for('contact') }}" method="POST">
	{{ csrf() }}
	<div class="form-group{% if flash.errors.name %} has-error{% endif %}">
		<label for="name">Votre nom</label>
		<input class="form-control" type="text" name="name" id="name" value="{{ old.name }}" required>
		{% if flash.errors.name %}
			<span class="help-block">{{ flash.errors.name }}</span>
		{% endif %}
	</div>
	<div class="form-group{% if flash.errors.email %} has-error{% endif %}">
		<label for="email">Votre email</label>
		<input class="form-control" type="email" name="email" id="email" value="{{ old.email }}" required>
		{% if flash.errors.email %}
			<span class="help-block">{{ flash.errors.email }}</span>
		{% endif %}
	</div>
	<div class="form-group{% if flash.errors.content %} has-error{% endif %}">
		<label for="content">Votre message</label>
		<textarea class="form-control" type="text" name="content" id="content" required>{{ old.content }}</textarea>
		{% if flash.errors.content %}
			<span class="help-block">{{ flash.errors.content }}</span>
		{% endif %}
	</div>
	<div class="form-group">
		<input class="btn btn-primary" type="submit" value="Envoyer"></textarea>
	</div>
</form>


{% endblock %}